input[type='checkbox']:checked + label::after {
	    content: '';		
		border-radius: 50%;
        border-color: #C6C7C8;
	}
	input[type='checkbox'] {
	    content: '';		
		border-radius: 50%;
		outline: 0px;
        margin-right: 5px;
	}
	input[type='checkbox'] + label::before {
       content: '';
       display: inline-block;
       vertical-align: -25%;
       height: 2ex;
       width: 2ex;
       background-color: white;
       border: 1px solid rgb(166, 166, 166);
       border-radius: 4px;
       box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
       margin-right: 0.5em;
    }